body {
  background-color: #fafafa;
}

.top-nav {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.brand {
  color: #125688;
  font-size: 30px;
}